<header>
    <h1>ClubConnect</h1>
    <div class="user-info">
        <span>Welcome, <%= username %></span>
        <span class="user-icon"><%= username.charAt(0).toUpperCase() %></span>
    </div>
</header>
